<nav class="navbar navbar-inverse navbar-static-top" id="nav-tag" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      {{#link-to 'index' class="navbar-brand" id="nav-brand"}}SupaPrice{{/link-to}}
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" id="nav-menu">
        <li>{{#link-to 'cart'}}Cart:{{cart-count}}{{/link-to}}</li>
        <li>{{#link-to 'opinion'}}Reviews{{/link-to}}</li>
        <li>{{#link-to 'about'}}About Us{{/link-to}}</li>
        <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
        <li id="nav-search">{{#link-to 'search'}}Search{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>
{{yield}}