<div class="container-fluid" id="footer">
    <div class="row" id="part-one">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h3 class="text-center">
                Sign Up For Our Newsletter:
            </h3>
            <br>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Enter Your Email">
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-default" id="btn-email">Save Email</button>
                </div>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="row" id="part-two">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-4">
                    <h4 class="footer-head">General</h4>
                    <ul class="footer-lists">
                        <li>Home</li>
                        <li>Cart</li>
                        <li>About Us</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4 class="footer-head">SupaPrice</h4>
                    <ul class="footer-lists">
                        <li>Terms and Conditions</li>
                        <li>Privacy</li>
                        <li>Careers</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4 class="footer-head">Partners</h4>
                    <ul class="footer-lists">
                        <li>Naivas</li>
                        <li>Nakumatt</li>
                        <li>Tuskys</li>
                        <li>Uchumi</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h4>FOLLOW US</h4>
            <P>
                <span class="social">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </span>
                <span class="social">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </span>
                <span class="social">
                    <i class="fa fa-snapchat" aria-hidden="true"></i>
                </span>
                <span class="social">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </span>
            </p>
        </div>
    </div>
</div>

{{yield}}