/*fonts
font-family: 'Oxygen', sans-serif;
font-family: 'Bree Serif', serif;
*/
html, body {
    height: 100%;
}

body {
    font-family: 'Oxygen', sans-serif;
}

.navbar-nav {
    float: right;
    font-family: 'Bree Serif', serif;
    font-size: 1.2em;
    padding-right: 50px;
}

.navbar-header {
    list-style-type: none;
}

.navbar-brand {
    padding-left: 50px;
}

#nav-contents {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px black;
}

#nav-menu {
    color: #c60000;
    font-weight: 500;
    float: right;
}

#supa-header {
    font-size: 2.5em;
    font-family: 'Bree Serif', serif;
    font-weight: 900;
    color: #e2713d
    list-style-type: none;
}

#nav-tag {
    border-bottom: 0px white;
}

#footer {
    padding-top: 50px;
    bottom: 0;
    color: #ffffff;
}
