<div class="container-fluid" style="margin-top: 125px;">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h2 class="text-center">FAQ</h2>
      <br>
      <button data-toggle="collapse" data-target="#q1" class="btn-about">
                <span class="glyphicon glyphicon-chevron-down" style="float:left;"></span>
                Who Are We?
            </button>
      <div id="q1" class="collapse">
        <p class="about-answer">SupaPrice is a price aggregation site that allows you to figure out how much your shopping would cost across the four major supermarket chains in the country. All you need to do is make your shopping list with us and then go to your cart. At your
          cart you will find the total cost of all goods across the four supermarket chains (Naivas, Nakumatt, Tuskys, Uchumi) and then you will make your decision on where you will want to shop.
        </p>
      </div>
      <br>

      <button data-toggle="collapse" data-target="#q2" class="btn-about">
                <span class="glyphicon glyphicon-chevron-down" style="float:left;"></span>
                Do You Need An Account?
            </button>
      <div id="q2" class="collapse">
        <p class="about-answer">No you do not need an account to use our services. Just search for what you want to buy and add it to your cart, go to your cart and see which supermarket is the cheapest for what you want and simply go buy whatever you wanted with a clear idea
          of how much it will cost.
        </p>
      </div>
      <br>

      <button data-toggle="collapse" data-target="#q3" class="btn-about">
                <span class="glyphicon glyphicon-chevron-down" style="float:left;"></span>
                Do You Need To Pay For Shopping Through SupaPrice?
            </button>
      <div id="q3" class="collapse">
        <p class="about-answer">No you do not pay through us as we do not sell products. We just show you the price to help you make a decision on where you want to shop.
        </p>
      </div>
      <br>

      <button data-toggle="collapse" data-target="#q4" class="btn-about">
                <span class="glyphicon glyphicon-chevron-down" style="float:left;"></span>
                Why Do I Need You?
            </button>
      <div id="q4" class="collapse">
        <p class="about-answer">We simply provide a convinience. Let's assume you are at Moringa School and need to go buy a lot of household items before you go home. All four supermarket chains in the country are within 250 metres of you and you don't want to overspend but
          you also don't know which supermarket will be the cheapest. Visit our website, create a shopping list of the items you want and then go to the cart to see which supermarket is the cheapest and then go there!</p>
      </div>
    </div>
    <div class="col-sm-3"></div>
    <div class="container">
      <div class="row">
      </div>
    </div>

    <div class="container">
      <div class="row">
        <h2 class="text-center">Our Team</h2>
        <br>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/b1/bb/ec/b1bbec499a0d66e5403480e8cda1bcbe.png" alt="Lights" style="width:100%">
            <div class="caption">
              <h3 class="text-center">James Ngondu</h3>
              <p class="text-center">James Ngondu is a programming student from Moringa School. He is good at basic web development but specializes at Android Programming. He likes reading in his free time.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/6a/83/f0/6a83f0ec5f43944c47df1b6cff801578.png" alt="Lights" style="width:100%">
            <div class="caption">
              <h3 class="text-center">Chege Kariuki</h3>
              <p class="text-center">Chege Kariuki is a programming student from Moringa School. He is good at basic web development but specializes at Android Programming. He likes reading in his free time.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="https://www.filepicker.io/api/file/9dXFgbwRRlKXzHDItGEK" alt="Lights" style="width:100%">
            <div class="caption">
              <h3 class="text-center">Dan Kosgei</h3>
              <p class="text-center">Dan Kosgei is a programming student from Moringa School. He is good at basic web development but specializes at Android Programming. He likes reading in his free time.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="https://cdn2.iconfinder.com/data/icons/avatar-2/512/smith_man-512.png" alt="Lights" style="width:100%">
            <div class="caption">
              <h3 class="text-center">Leroy Omondi</h3>
              <p class="text-center">Leroy Omondi is a programming student from Moringa School. He is good at basic web development but specializes at Android Programming. He likes reading in his free time.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="https://cdn2.iconfinder.com/data/icons/avatar-2/512/Fred_man-512.png" alt="Lights" style="width:100%">
            <div class="caption">
              <h3 class="text-center">Kevin Matite</h3>
              <p class="text-center">Kevin Matite is a programming student from Moringa School. He is good at basic web development but specializes at Android Programming. He likes reading in his free time.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</div>

{{#project-footer}}{{/project-footer}} {{outlet}}
