<nav class="navbar navbar-default navbar-fixed-top" id="nav-tag" role="navigation">
  <div class="container-fluid" id="nav-contents">
    <ul class="navbar-header">
      {{#link-to 'index'}}<li class="navbar-brand" id="supa-header">SupaPrice</li>{{/link-to}}
    </ul>
    <ul class="nav navbar-nav" id="nav-menu">
      <li>{{#link-to 'cart'}}Cart <center>{{cart-count}}</center>{{/link-to}}</li>
      <li>{{#link-to 'about'}}About Us{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
    </ul>
  </div>
</nav>

{{outlet}}
