<<<<<<< HEAD
<div class="productDetails">

</div>

{{#if addedToCart}}
  <h5>This item is in your cart.</h5>
{{else}}
  <button {{action 'addToCart' model}}>Add to Cart</button>
{{/if}}
=======
{{#project-footer}}{{/project-footer}}

{{outlet}}
>>>>>>> cef1d0255461eca7c1550b4161b8a972f2057d72
