<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div>
                <h3 class="text-center">Enter Search:</h3>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="search">
                    </div>
                    <button type="button" class="btn btn-default" id="btn-search">SEARCH</button>
                </form>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

{{#project-footer}}{{/project-footer}} {{outlet}}